.genre {
  width: 100%;
  max-height: 814px;
  background-color: #EEFBFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  padding: 58px 88px;
  justify-content: space-between;
  align-items: center;
  background-color: #182428;
  border-radius: 71px;
  margin: 20px;
  gap: 30px;
  .img {
    flex: 0 1 419px;
    height: 522px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &#img1 {
      background-image: url('../../../../public/small/genre/card1.png');
    }
    &#img2 {
      background-image: url('../../../../public/small/genre/card2.png');
    }
    &#img3 {
      background-image: url('../../../../public/small/genre/card3.png');
    }
  }
  .text {
    flex: 0 1 554px;
    color: #FFFFFF;
    text-transform: uppercase;
    h2 {
      font-size: 45px;
      margin-bottom: 50px;
    }
    p {
      font-size: 30px;
    }
  }
}

@media (max-width: 914px) {
  .wrapper {
    padding: 50px;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    gap: 0;
    .img {
      display: none;
    }
    .text {
      flex: 1 1 554px;
      text-align: center;
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  @media (max-width: 1300px) {
    
  }
}